body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: clamp(300px, 50%, 500px);
}

.form h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem;
}

.form label {
    display: block;
    font-weight: bold;
    margin: 0.5rem 0 0.2rem;
    color: #555555;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.form textarea {
    resize: none; /* Evita que el usuario cambie el tamaño */
    height: 100px;
}

.form p {
    font-size: 0.9rem;
    color: #888888;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
}

.form input[type="submit"] {
    background-color: #007BFF;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}
